@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format(woff2);
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format(woff2);
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    background-color: #ffffff;
    color: #000000;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.main-container {
    flex-grow: 1;
}

.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.navigation-list-main {
    width: 339px;
    margin: 0;
    padding: 0;
    max-width: 400px;
}

.navigation-list {
    width: 268px;
    margin: 0;
    padding: 0;
    max-width: 338px;
    margin-left: auto;
}

.navigation-logo {
    margin-left: 70px;
    margin-right: 28px;
}

.navigation-link {
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    text-decoration: none;
    color:#000000;
}

.vissually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hero {
    background-image: url(../images/index-background.jpg);
    background-repeat: no-repeat;
    width: 1200px;
}

.logo {
    display: block;
    margin: 0 auto;
}

.lead {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    text-align: center;
    max-width: 651px;
    margin: 0 auto;
}

.blue-square {
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
}

.light-square {
    text-align: center;
    background-color: #83B3D31F;
    color: #000000;
}

.blue-light-square {
    text-align: center;
    background-color: #83B3D333;
    color: #000000;
}

.advantages-description {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
}

.advantages-title {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
}

.position-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.position-description {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
}

.white-square {
    text-align: center;
}

.navigation-buttom {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #756157;
    text-transform: uppercase;
    text-decoration: none;
}

.form-label {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.form-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    background-color: #82B3D3;
    text-transform: uppercase;
}

.subscribe {
    background-image: url(../images/background-mountains.jpg);
    color:#ffffff;
}

.navigation-link-current {
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    text-decoration: none;
    color:#000000;
}

.advantages-description-light {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
}

.uppercase {
    text-transform: uppercase;
    margin: auto;
    max-width: 620px;
    padding: 0;
    text-align: center;
}

.navigation-buttom-hotel {
    display: flex;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    background-color: #756157;
    text-transform: uppercase;
    text-decoration: none;
    width: 376px;
    margin: 0 auto;
    text-align: center;
}

.lead-white {
    display: flex;
    color:#ffffff;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    width: 475px;
}

.phone-number {
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color:#000000;
    font-weight: 400;
    width: 400px;
    margin: 0 auto;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.square {
    width: 400px;
    margin: 0;
    padding: 0;
}

.advantages-img {
    margin: 0;
}

.position-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.position-item {
    width: 400px;
}

.appointment-form-email {
    width: 684px;
    margin: 0 auto;
    text-align: center;
}

.search {
    display: flex;
    text-align: center;
    width: 276px;
    margin: 0 auto;
}

.page-footer {
    display: flex;
}
